.button {
    height: 3.5vw;
    width: 10vw;
    border: none;
    background: transparent;
    color: #f2f2f2;
    padding: 10px;
    font-size: 1.4vw;
    font-family: Lexend Peta;
    border: solid rgb(255, 255, 255) 3px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 500ms ease; 
    letter-spacing: 10px;
}
.button:hover {
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}
.button:active {
    transition: all 100ms ease; 
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
}